.dashboard-container {
    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0; 
}

.dashboard-header {
    background-color: #004d4d;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.card {
    background: linear-gradient(135deg, #f0f4c3, #81d4fa);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px; /* Increased margin for spacing */
    width: 400px;
    text-align: center;
    z-index: 0;
    position: relative;
    top: 600px; 
}

.card h3 {
    color: #004d4d;
}

.card p {
    color: #555;
}

.card button {
    background-color: #004d4d; /* Match button color */
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s;
}

.card button:hover {
    background-color: #007a7a; /* Hover color */
}

.submissions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: linear-gradient(135deg, #f0f4c3, #81d4fa);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
}

.submissions h3, .submissions p {
   color: #004d4d;
   text-align: center;
}

.submissions p {
   color: gray;
}

.submission-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.submission-item {
    background-color: #ffffff;
    border: 1px solid #004d4d;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: #004d4d;
    flex: 1 1 150px;
}

.submission-item strong {
    color: #004d4d;
}

.logout-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.logout-button {
    background-color: #008080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.logout-button:hover {
    background-color: #00b3b3;
}
